header {
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  z-index: 99;

  .invite-btn {
    display: none;
  }

  .menu {
    &__btn {
      background: none;
      border: none;
      cursor: pointer;
      display: block;
    }

    // mobile only
    @media only screen and (max-width: 767px) {
      &__link {
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0px 5rem 30rem rgba($color: #000000, $alpha: 1.0);
        display: none;
        padding: 1rem;
        position: absolute;
        top: 5rem;
        left: 1rem;
        right: 1rem;
      }
    }

    &__link a {
      color: #333;
      display: block;
      margin: 1rem auto;
      padding: 0px .5rem;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }

    &__bar {
      background-color: #555;
      border-radius: 8px;
      height: 1px;
      margin-bottom: 4px;
      transition: .2s;
      width: 24px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .active .menu {

    &__bar {
      &:first-child {
        transform: translateY(5px) rotate(45deg)
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: translateY(-5px) rotate(-45deg);
      }
    }

    &__link {
      display: block;
      animation: reveal-menu .2s ease-in-out forwards;
    }

    @keyframes reveal-menu {
      from {
        opacity: 0;
        transform: translateY(-5rem);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  // desktop only
  @media only screen and (min-width: 768px) {
    align-items: center;
    justify-content: space-between;

    .menu {
      &__btn {
        display: none;
      }

      &__link {
        display: flex;
      }
    }
    .invite-btn {
      display: block;
    }
  }
}
