header {
  align-items: center;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  z-index: 99;

  .invite-btn {
    display: none;
  }

  .menu {
    &__btn {
      background: none;
      border: none;
      cursor: pointer;
      display: block;
    }

    // mobile only
    @media only screen and (max-width: 767px) {
      &__close {
        display: none;
      }

      &__link {
        background-color: $white;
        border-radius: 4px;
        box-shadow: 0 4rem 5rem rgba($color: #000000, $alpha: .5);
        display: none;
        padding: 1rem;
        position: absolute;
        top: 5.5rem;
        left: 1rem;
        right: 1rem;
        z-index: 99;
      }
    }

    &__link a {
      color: #333;
      display: block;
      margin: 0px auto;
      padding: 1rem .5rem;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }

  .active .menu {
    @media only screen and (max-width: 767px) {
      &__open { display: none; }
      &__close { display: block; }

      &__link {
        display: block;
        animation: reveal-menu .2s ease-in-out forwards;
      }
    }

    @keyframes reveal-menu {
      from {
        opacity: 0;
        transform: translateY(-5rem);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  // desktop only
  @media only screen and (min-width: 768px) {
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;

    .menu {
      &__btn {
        display: none;
      }

      &__link {
        display: flex;

        & a {
          align-self: center;
          border-color: transparent;
          border-style: solid;
          border-width: 4px 0px;
          color: $gray;
          display: block;
          font-size: 14px;
          padding: 1.5rem 1rem;

          &:hover {
            border-bottom: 4px solid $primary-green;
            transition: .2s;
          }

        }
      }
    }
    .invite-btn {
      display: block;
    }
  }
}
