main {
  .hero {
    padding-bottom: 5rem;

    .intro {
      img {
        max-width: 750px;
        object-fit: cover;
        object-position: center -7rem;
        width: 100%;
        padding: 0;
      }

      &__text {
        margin-top: -6rem; 
        max-width: 1024px;
        text-align: center;
        width: 100%;
        z-index: 99;

        h1 {
          color: $primary-blue;
          font-size: 38px;
          font-weight: 300;
          margin: 0;
        }

        p {
          color: $gray;
          font-size: 15px;
        }

        button {
          margin-top: 1rem;
        }
      }

      &__wrap {
        margin: 0 auto;
        max-width: 400px;
      }
    }

    &:first-child {
      background-image: url('../../images//bg-intro-mobile.svg');
      background-size: cover;
      background-position: center -15rem; 
      background-repeat: no-repeat;
      position: relative;

      &::before {
        content: '';
        background-color: $very-light;
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
      }

      @media only screen and (min-width: 768px) {
        background-image: url('../../images/bg-intro-desktop.svg');
        background-size: 70%;
        background-position-x: 140%;

        .intro {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin: 0;
          padding: 10rem 0;

          img {
            background: none;
            object-position: 17rem -7rem;
            position: absolute;
            top: 0;
            right: 0;
          }

          &__text {
            margin: 0 auto 0 auto;
            text-align: left;

            h1 {
              font-size: 48px;
            }

            p {
              font-size: 16px;
            }
          }
          &__wrap {
            margin: 0;
          }
        }
      }

      @media only screen and(min-width: 1024px) {

        img {
          object-position: 7rem -7rem !important;
        }
      }

    }
  }

  .cause {
    background-color: $light;
    padding: 1rem 0;
    text-align: center;

    h2 {
      color: $primary-blue;
      font-size: 2em;
      font-weight: 300;
      margin: 1rem 0;
    }

    &__description {
      color: $gray;
      font-size: .9em;
    }

    @media only screen and (min-width: 900px) {
      text-align: left;

      &__description {
        max-width: 60%;
      }
    }

    .grid {
      display: grid;
      column-gap: 1rem;
      margin-top: 3rem;

      &__column {
        margin-bottom: 2rem;

        h3 {
          color: $primary-blue;
          font-weight: 300;
        }
      }

      &__description {
        color: $gray;
        font-size: .9em;
      }

      @media only screen and (min-width: 512px) {
        grid-template-columns: auto auto;
      }

      @media only screen and (min-width: 900px) {
        grid-template-columns: auto auto auto auto;

        &__column {
          text-align: left;
        }
      }
    }
  }
}


