$primary-blue: hsl(233, 26%, 24%);
$primary-green: hsl(136, 65%, 51%);
$primary-cyan: hsl(192, 70%, 51%);

$white: hsl(0, 0%, 100%);
$very-light: hsl(0, 0%, 98%);
$light: hsl(220, 16%, 96%);
$gray: hsl(233, 8%, 62%);

.d-none { display: none; }
